@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Ligth.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: 400;
}

body {
  font-family: 'Montserrat';
}

.container {
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #059669;
  border-color: #059669 transparent #059669 transparent;
  animation: spinner 1.2s linear infinite;
}

.calc {
  height: calc(100vh - 120px);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
